<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ng Teng Yong"/>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <title>{% block title %}{% endblock %}</title>    
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Begin page content -->
        <div class="container">
            {% block content %} {% endblock %}
        </div> <!--end of container-->
    </div>
    <div id="footer">
        <div class="container">
            <p class="text-muted credit">This demo is running on Google Appengine with data kept in Google NoSQL-like datastore. Copyrights {{ year }} <a href="http://www.rainforestnet.com" target="_blank">Rainforest Software Solution</a></p>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/additional-methods.js"></script>    
    {% block footer_script %}{% endblock%}
</body>
</html>